<body class="gradient">
<h1 align="center">TODO LISTS</h1>

<table border="2px solid white" class="gradient">
  
  <% @projects.each do |project| %>
  </table>
    <table>
    <tr>

      <td width="700px"><%= project.name %></td>
      <td align=right width="100px"><%= link_to 'Show Tasks', project_path(project) %></td>
      <td align=right width="20px"><%= link_to '', edit_project_path(project), :class => 'edit-project'%></td>
      <td white-space: nowrap; align=right width="20px"><%= link_to '', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'delete-task' %></td>
    </tr>
  <% end %>
</table>

<table style="border: 0px; margin-top: 2%">
  <tr>
    <th><h2><%= link_to '', new_project_path, :class => 'btn-addproject'%></h2></th>
  </tr>
  </table>

<%= link_to 'Sing out', destroy_user_session_path %>
<%= link_to 'Back', projects_path %>







<script type="text/javascript">
function clock() {
var d = new Date();
var month_num = d.getMonth()
var day = d.getDate();
var hours = d.getHours();
var minutes = d.getMinutes();
var seconds = d.getSeconds();

month=new Array("января", "февраля", "марта", "апреля", "мая", "июня",
"июля", "августа", "сентября", "октября", "ноября", "декабря");

if (day <= 9) day = "0" + day;
if (hours <= 9) hours = "0" + hours;
if (minutes <= 9) minutes = "0" + minutes;
if (seconds <= 9) seconds = "0" + seconds;

date_time = "Сегодня - " + day + " " + month[month_num] + " " + d.getFullYear() +
" г.&nbsp;&nbsp;&nbsp;Текущее время - "+ hours + ":" + minutes + ":" + seconds;
if (document.layers) {
 document.layers.doc_time.document.write(date_time);
 document.layers.doc_time.document.close();
}
else document.getElementById("doc_time").innerHTML = date_time;
 setTimeout("clock()", 1000);
}
</script>
 <div class="footer">
<span id="doc_time">
 Дата и время
</span>
<script type="text/javascript">
 clock();
</script>
</div>
</body>


